@font-face {
  font-family: "iconfont"; /* Project id 5178931 */
  src: url('iconfont.woff2?t=1780244883301') format('woff2'),
       url('iconfont.woff?t=1780244883301') format('woff'),
       url('iconfont.ttf?t=1780244883301') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-yishoucangmianicon:before {
  content: "\e702";
}

.icon-shanchu:before {
  content: "\e660";
}

.icon-shoucang:before {
  content: "\e63a";
}

.icon-shoucang1:before {
  content: "\e601";
}

.icon-guanbi:before {
  content: "\e6c9";
}

.icon-jinrujiantou:before {
  content: "\e88e";
}

.icon-sousuokuangsousuo:before {
  content: "\e622";
}

.icon-gou2x:before {
  content: "\e632";
}

.icon-line-medalxunzhang-02:before {
  content: "\e6b3";
}

.icon-icon_paizhaoshangchuan:before {
  content: "\e769";
}

.icon-tupian:before {
  content: "\e63e";
}

.icon-MaterialSymbolsBrush:before {
  content: "\e6a2";
}

.icon-huihua:before {
  content: "\e606";
}

.icon-huizhang:before {
  content: "\ece6";
}

.icon-paizhaoshangchuan:before {
  content: "\e873";
}

.icon-Abstract_mofang_cube-five:before {
  content: "\e6c2";
}

.icon-Abstract_mofang_cube-two:before {
  content: "\e8c2";
}

.icon-Abstract_mofang_cube:before {
  content: "\e8c3";
}

.icon-magic:before {
  content: "\e600";
}

.icon-images:before {
  content: "\e755";
}

.icon-wodejifen:before {
  content: "\e616";
}

.icon-qiandao:before {
  content: "\e65d";
}

.icon-shanshan:before {
  content: "\e651";
}

.icon-kefu:before {
  content: "\e608";
}

.icon-jinbi:before {
  content: "\e6c6";
}

.icon-bofang:before {
  content: "\e626";
}

.icon-ewailichengjiangli:before {
  content: "\e631";
}

.icon-tuichu:before {
  content: "\e62c";
}

.icon-tuichu1:before {
  content: "\e7ed";
}

.icon-jinhangzhong:before {
  content: "\e64f";
}

.icon-a-huaban1fuben37:before {
  content: "\e603";
}

